@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Dongle&family=Lato:ital,wght@1,700&family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.LogoEdit {
    width: 80px;
    margin-right: 20px;
    /* Adjust the width as needed */
    height: auto;
    /* Maintain aspect ratio */
}

/* home section ==>>  */
.main {
    height: 100vh;
    max-height: 90.7vh;
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(./img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main div img {
    width: 400px;
    display: flex;
}

.main h3 {
    font-family: sans-serif;
    font-weight: lighter;
}

/* About Start ==>> */
.about {
    height: 100vh;
    max-height: 90.7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
}

.active {
    /* background-color: cadetblue; */
    text-transform: uppercase;
    font-weight: 800;

}





/* Footer start ==>> */
.bg-dark {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.leftchild {
    min-height: 81vh;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.rightchild img {
    width: 600px;
}

/* login form css */
.login-form {
    max-width: 400px;
    width: 100%;
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.login-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.login-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.login-form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}

.login-form p {
    font-size: 16px;
    margin-top: 20px;
}

.login-form button.register {
    background-color: #4287f5;
    font-size: 15px;
    /* padding: 5px 10px; */
}

.login-form button.register:hover {
    background-color: #2f64c4;
}

.login-form .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

/* register form css */
.register-form {
    max-width: 400px;
    width: 100%;
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.register-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.register-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.register-form input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.register-form button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #45a049;
}

.register-form p {
    font-size: 14px;
    margin-top: 20px;
    color: #565656;
}

.register-form button.register {
    background-color: #4287f5;
    font-size: 15px;
    padding: 10px 15px;
}

.register-form button.register:hover {
    background-color: #2f64c4;
}

.register-form .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}